body {
  font-family: "Verdana", sans-serif;
}
.times{
  list-style: none;
  float: left;
  margin-top: -7px;
  margin-right: 10px;
}
.times li{
  height: 30px;
  text-align: right;
  color: #C4C4C4;
  font-size: 10px;
}
.hour {
  color: #636363;
  font-weight: bold;
  font-size: 14px;
}
.events {
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ECECEC;
  height: 720px;
  float: left;
  border-left: #D7D7D7 solid 2px;
  position: relative;
}
.events div{
  border: #D7D7D7 solid 2px;
  border-left: #49AF87 solid 4px;
  background-color: #FFFFFF;
}
.events h2 {
  color: #49AF87;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 8px;
}
.events p {
  font-size: 12px;
  margin-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}
